$colors: (
  BG-Light-High_Text-Blue-Dark: #0112A4,
  BG-Blue-Light: #011DCE,
  BG-Orange-Light-High: #F97006,
  BG-Gray-Dark-Light-High: #F0F0F7,
  BG_Text-Main-White: #F8F9FF,
  Text-Orange-Light-High: #E86601,
  Text-Main-Black-Dark: #262626,
  Text-Error: #DE0011
);
$z-index: (
  Modal: 50,
);
$border: 1px solid #E6E6E6;
$border-radius: 3px;
$box-shadow: 0 0 6px rgba(#000, 0.3);
